.list-wrapper{
	padding-right: 10px;
  overflow-y: scroll;
	position: relative;
	/*background: #e4e4e4;*/
}
.video-ann{
	cursor: pointer;
	margin-bottom: 5px;
	border-width: 0px;
	border-left-width: 8px;
}
.video-ann-title{

}
.video-ann-highlight{
	cursor: default;
}

.video-ann-relatives{
	cursor: pointer;
}

.video-ann-delete{
	padding: 0.375rem 0.3rem;
	color: #dc3545;
	font-size: 30px;
}
.video-ann-delete:hover{
	color: #c82333;
}
.video-ann-button{
	margin-right: 5px;
}

/*trajectory*/
.trajectories-toggle{
	background: #f6f6f6;
	cursor: pointer;
}
.trajectories-toggle:hover{
	color: #000000;
}
.trajectory-wrapper{
}
.trajectory-item{
	min-width: 380px;
	padding: 0rem 0rem;
	line-height: 1;
	border: none;
}
.trajectory-item:hover{
	border: none;
}
.trajectory{
	color: #a2b0bc;
}
.trajectory:hover{
	cursor: pointer;
	color: #555c63;
}
.trajectory-status{
	font-size: .85rem;
}
.trajectory-size{
	font-size: .85rem;
}
.trajectory-position{
	font-size: .85rem;
}
.trajectory-delete{
	line-height: 1;
	font-size: 1.2rem;
	color: rgb(220, 53, 69);
	padding: 0rem 0rem;
}
.explanation-add-button{
	font-size: .6rem;
	margin: 0 10px;
	opacity: 1 !important;
}
