.speed-toggle{
	color: #000000 !important;
	font-family: Courier;
}
.speed-toggle:hover, .speed-toggle:active, .speed-toggle:focus{
	text-decoration: none !important;
}
.speed-item{
	color: #000000;
	font-family: Courier;
}
.speed-item:hover{
	color: #000000 !important;
	cursor: pointer;
}
.speed-item:active{
	color: #000000 !important;
	background: #f8f9fa !important;
}
.speed-item:focus{
	color: #000000 !important;
	outline: none;
}
.player-button{
	color: #000000 !important;
	padding-bottom: 0;
	padding-top: 0;	
}
.player-button:hover, .player-button:active, .player-button:focus{
	text-decoration: none !important;
}
