.list-wrapper{
	padding-right: 10px;
  overflow-y: scroll;
	position: relative;
	/*background: #e4e4e4;*/
}
.object-item{
	min-width: 380px;
	cursor: pointer;
	margin-bottom: 5px;
	border-width: 2px;
	border-left-width: 8px;
}
.object-item-title{
	min-width: 80px;
}
.object-item-highlight{
	cursor: default;

}
.object-item-delete{
	padding: 0.375rem 0.3rem;
	color: #dc3545;
	font-size: 30px;
}
.object-item-delete:hover{
	color: #c82333;
}
.object-item-button{
	margin-right: 5px;
}

.explanation-add-button{
	font-size: .6rem;
	margin: 0 10px;
	opacity: 1 !important;
}
