.list-wrapper{
	padding-right: 10px;
  overflow-y: scroll;
	position: relative;
	/*background: #e4e4e4;*/
}
.object-item{
	min-width: 380px;
}
.object-item-title{
	min-width: 80px;
}
.object-item-small{
	cursor: pointer;
}



/*trajectory*/
.trajectories-toggle{
	cursor: pointer;
}
.trajectories-toggle:hover{
	color: #000000;
}
.trajectory-wrapper{
}
.trajectory-item{
	min-width: 430px;
	padding: 0rem 0rem;
	line-height: 1;
	border: none;
}
.trajectory-item:hover{
	border: none;
}
.trajectory{
	color: #a2b0bc;
}
.trajectory:hover{
	color: #555c63;
}
.trajectory-status{
	font-size: .85rem;
	display: inline-block;
	min-width: 140px;
}
.trajectory-size{
	font-size: .85rem;
	display: inline-block;
	min-width: 100px;
	text-align: left;
}
.trajectory-position{
	font-size: .85rem;
	display: inline-block;
	min-width: 120px;
	text-align: left;
}
.trajectory-delete{
	line-height: 1;
	font-size: 1.2rem;
	color: rgb(220, 53, 69);
	padding: 0rem 0rem;
}
