.speed-toggle{
	font-family: Courier;
}
.speed-toggle:hover, .speed-toggle:active, .speed-toggle:focus{
	text-decoration: none !important;
}
.speed-item{
	font-family: Courier;
}
.speed-item:hover{
	cursor: pointer;
}
.speed-item:active{
	background: #f8f9fa !important;
}
.speed-item:focus{
	outline: none;
}
